/* Estilos gerais para o container */
.aviso-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .aviso-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1pc;
  }
  h1#titulo {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Estilos para os campos do formulário */
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  textarea {
    resize: vertical;
    height: 100px;
  }
  
  /* Estilo para o botão de submissão */
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:disabled {
    background-color: #ccc;
  }
  
  button[type="submit"]:hover:enabled {
    background-color: #0056b3;
  }
  
  /* Snackbar (Aviso de sucesso ou erro) */
  .MuiSnackbar-root {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .MuiAlert-filledSuccess {
    background-color: #4caf50 !important;
  }
  
  .MuiAlert-filledError {
    background-color: #f44336 !important;
  }
  
  /* Estilo responsivo para telas menores */
  @media (max-width: 768px) {
    .aviso-container {
      padding: 15px;
    }
  
    button[type="submit"] {
      font-size: 0.9rem;
    }
  }
  