@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

#titulo {
  font-size: 4pc;
  font-family: "Jolly Lodger", system-ui;
  letter-spacing: 0.2pc;
  font-weight: bold;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

.cadastrar-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  position: relative; /* Ensure the container has a relative position for stacking context */
}

h1 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group img {
  width: 7pc;
  height: 7pc;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
}

.avatar-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  position: relative;
  z-index: 1; /* Ensure avatars are behind the modal */
}

.avatar-buttons button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.avatar-buttons img {
  border: 2px solid transparent;
  border-radius: 40px;
  z-index: 1; /* Ensure avatars are behind the modal */
}

.avatar-buttons img:hover {
  transition: 1.2s;
  border: 2px solid transparent;
  border-radius: 80px;
  filter: brightness(80%);
}

.avatar-buttons .selected img {
  border-color: #4CAF50;
  border-radius: 4pc;
  filter: brightness(90%);
}

.error {
  color: red;
}

.success {
  color: green;
}
.centro{
  display: flex;
  justify-content: space-evenly;
  gap: 2pc;
}
.central {
  display: flex;
  justify-content: center;
  position: relative;
}

@media (max-width: 768px) {
  .central {
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    align-items: center;
  }
}

/* CSS para o modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Modal on top of everything else */
}
.user_logado{
display: flex;
justify-content: space-around;
}
.user_info{
display: flex;
justify-content: space-around;
gap: 1pc;
}
.user_info img{
  width: 5pc;
  height: 5pc;
}
#sair{
  width: 3pc;
    height: 3pc;
    font-size: 1pc;
    background-color: red;
    border-radius: 8pc;
}
#user_name{
  color: #4CAF50;
  font-weight: 800;
}
