@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
.btnfim{
    display: flex;
    justify-content: center;
}

.login-container {
    min-height: 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .reading-mode {
    background-color: #282c34; 
    color: #f8f9fa; 
  }
  
  .reading-mode .container {
    background-color: #343a40; 
    border-radius: 8px;
    padding: 20px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
  }
  
  .reading-mode .articles-container {
    background-color: #495057; 
    border: 1px solid #6c757d;
  }
  
  .reading-mode .card {
    background-color: #495057;
    border: 1px solid #6c757d; 
    transition: transform 0.2s; 
  }
  
  .reading-mode .card:hover {
    transform: scale(1.05);
  }
  .card:hover {
    transform: scale(1.05);
  }
  
  .reading-mode .modal {
    background-color: rgba(0, 0, 0, 0.8); 
  }
  .reading-mode #title{
    color: #aeaeae;
  }
  .reading-mode .modal-content {
    background-color: #343a40; 
    color: #f8f9fa; 
  }
  
  .toggle-reading-mode {
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #007bff; 
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; 
  }
  
  .toggle-reading-mode:hover {
    background-color: #0056b3;
  }
  

.card{

    transition: transform 0.2s; 
}
.ql-editor img {
    max-width: 100%; 
    display: flex; 
    border: 1px solid #ddd; 
    cursor: pointer;
    display: block; 
    margin: 0 auto; 

}
.conteudo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.centro{
    display: flex;
    justify-content: center;
}
#h1{
text-align: center;
font-size: 6pc;
font-family: "Jolly Lodger", system-ui;
letter-spacing: 0.2pc;
font-weight: bold;
}

.form{
    display: flex;
    justify-content: center;
}
#login{
    font-size: 5pc;
    font-family: "Jolly Lodger", system-ui;
    font-weight: bold;
}
#semConta{
    padding: 10px 15px;
    background-color: #4caf5000;
    color: #008a00;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
}
#avt{
    padding: 10px 15px;
    background-color: #4caf5000;
    color: #008a00;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.5pc;
}