@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.home-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2pc;
}

.esq {
  background-image: url(/src/pages/t.png);
  background-repeat: no-repeat;
  background-size: 63% 72%; 
  position: relative;
  right: 11pc; 
  width: 50pc; 
  height: 40pc; 
}

.dir {
  position: relative;
  right: 2pc;
}


.imgg {
  display: none;
}

#title-home {
  font-size: 12pc;
  font-family: "Jolly Lodger", system-ui;
  letter-spacing: 0.2pc;
  font-weight: bold;
}

@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
    align-items: center;
  }

  .esq {
    display: none;
  }

  .dir {
    position: static; 
    text-align: center;
  }

  .imgg {
    display: block; 
    margin: 0 auto; 
    width: 16pc;
  }
  #title-home {
    font-size: 6pc;
    font-family: "Jolly Lodger", system-ui;
    letter-spacing: 0.2pc;
    font-weight: bold;
  }
  
}


.conteudo-dir {
  text-align: center;
}

#subtitulo {
  font-size: 14px;
  color: var(--cinza);
}

#button {
  width: 14pc;
  height: 3pc;
  border-radius: 5px;
  border: none;
  background-color: var(--cinzaClaro);
}

#button:hover {
  transition: 0.4s;
  background-color: var(--cinza);
}
.tabela-usuarios {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tabela-usuarios th, .tabela-usuarios td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

.tabela-usuarios th {
  background-color: #f2f2f2;
  color: #333;
}

.tabela-usuarios tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tabela-usuarios tr:hover {
  background-color: #f1f1f1;
}

.tabela-usuarios img {
  border-radius: 50%; 
}
.btns{
  display: flex;
  justify-content: center;
  gap: 1pc;
}
#excluir{
  background-color: red;

}
.home-container {
  padding: 20px;
  gap: 1pc;

}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.user-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  width: 200px; 
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.user-card img {
  border-radius: 50%;
  max-width: 100%; 
  height: auto; 
}

.user-card h2, .user-card p {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.btns {
  margin-top: 10px;
}

.btns button {
  margin: 5px;
}
