@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.busca{
  display: flex;
  justify-content: flex-end;
}
.buscar{
  margin-right: 2pc;
}
#buscar-input{
  background-color: #CCCCCC;
  border: none;
  border-radius: 2pc;
  cursor: pointer;
}
#buscar-input:hover{
  transition: 0.96s;
  background-color: rgb(187, 187, 187);
}
#buscar-btn{
  background-color: rgba(240, 248, 255, 0);
  border: none;
  cursor: pointer;
}
#recados-title{
  font-size: 4pc;
  font-family: "Jolly Lodger", system-ui;
  letter-spacing: 0.2pc;
  font-weight: bold;
  text-align: center;
}
.recados {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 16px;
}
#card-recado{
  width: 368px;
  height: auto;
  border-radius: 20px;
  background-color: #E8E8E8;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#card-recado h1{
  font-size: 30px;
  margin-top: 0.5pc;
}
#card-recado img{
  width: 283px;
  height: 160px;
}
#p{
  max-width: 20pc;
  font-weight: 200;
}