@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.containerr {
    position: relative;
    width: 300px; /* ajuste conforme necessário */
    height: 300px; /* ajuste conforme necessário */
    perspective: 1000px; /* adiciona profundidade */
}

.tudao {
    display: flex;
    justify-content: space-between; /* Distribui os itens nos extremos */
    align-items: center;
    width: 100%; /* Garante que ocupe a largura da tela */
    padding: 0 20px; /* Adiciona um espaçamento nas laterais */
}

.direita {
    display: flex;
    flex-direction: column;
    margin-right: 1pc;
    align-items: center;
    margin-right: 7pc;
    
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}
.esquerdona{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3pc;
}
.tigre{
    width: 25pc;
}
@media screen and (max-width: 768px) {
    .tigre{
        width: 20pc;
    }
    .direita {
        display: flex;
        flex-direction: column;
        margin-right: 1pc;
        align-items: center;
        margin-right: 0pc;
        
    }
    .esquerdona{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0pc;
    }
    .tudao{
        display: flex;
        flex-direction: column-reverse;

        align-items: center;
    
    }
    .front, .back {
        position: absolute;
        top: 0;
        left: 0;
        width: 18pc;
        height: 22pc;
        transition: opacity 1.2s ease, transform 2.8s ease;
        transform-style: preserve-3d;
    }
    .mobile{
        display: block;
    }
    .desktop{display: none;}
    
        }
        @media screen and (max-width: 480px) {
    
        }    

    #button_home {
        width: 18pc;
        height: 4pc;
        border-radius: 5px;
        border: none;
        background-color: #D9D9D9;
      }
      
      #button:hover {
        transition: 0.4s;
        background-color: var(--cinza);
      }