@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.containerr {
    position: relative;
    width: 300px; /* ajuste conforme necessário */
    height: 300px; /* ajuste conforme necessário */
    perspective: 1000px; /* adiciona profundidade */
}

.front,
.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 28pc;
    height: 35pc;
    transition: opacity 1.2s ease, transform 2.8s ease; /* mantém a opacidade em 0.2s e aumenta a rotação para 1s */
    transform-style: preserve-3d; /* preserva a 3D durante a rotação */
}

.back {
    opacity: 0; /* oculta a imagem lateral inicialmente */
    transform: rotateY(180deg) scale(0.6); /* rotaciona e reduz a escala da imagem lateral para 60% */
}

.containerr:hover .front {
    opacity: 0; /* oculta a imagem frontal ao passar o mouse */
    transform: rotateY(-180deg) scale(0.8); /* rotaciona a imagem frontal lentamente ao mesmo tempo que diminui a escala */
}

.containerr:hover .back {
    opacity: 1; /* exibe a imagem lateral ao passar o mouse */
    transform: rotateY(0deg) scale(1); /* rotaciona a imagem lateral para frente e restaura a escala */
}

.tudao {
    display: flex;
    justify-content: space-between; /* Distribui os itens nos extremos */
    align-items: center;
    width: 100%; /* Garante que ocupe a largura da tela */
    padding: 0 20px; /* Adiciona um espaçamento nas laterais */
}

.direita {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha os itens à esquerda */
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}
.esquerdona{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .tudao{
        display: flex;
        flex-direction: column-reverse;

        align-items: center;
    
    }
    .front, .back {
        position: absolute;
        top: 0;
        left: 0;
        width: 18pc;
        height: 22pc;
        transition: opacity 1.2s ease, transform 2.8s ease;
        transform-style: preserve-3d;
    }
    .mobile{
        display: block;
    }
    .desktop{display: none;}
    
        }
        @media screen and (max-width: 480px) {
    
        }    